footer {
	position:	relative;
}

footer div {
	width:		40%;
	position:	relative;
	float:		left;
	padding:	2em;
}

footer ul {
	padding:	0;
	margin:		0;
}

#pomoc {
	float:		left;
}

#stopka {
	position:	relative;
	float:		left;
}

#autor {
	clear:		both;
}
